{% load static %}
<html lang="en" {% if request.session.hrms_language == 'ar' %} dir="rtl" {% else %} dir="ltr" {% endif %}> {{ request.session.name }}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="icon" href="{% static 'assets/images/main-logo.png'%}">
        <title>ABAN HRMS</title>
      
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
        {% if request.session.hrms_language == 'ar' %}
        <link href="{% static 'assets/RTL/css/all.min.css' %}" rel="stylesheet" type="text/css">
        {% else %}
        <link href="{% static 'assets/css/all.min.css' %}" rel="stylesheet" type="text/css">

        {% endif %}
        <link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'global_assets/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->
      
        <!-- Core JS files -->
        <script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
        <script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
        <!-- /core JS files -->
      
        <!-- Theme JS files -->
        <script src="{% static 'global_assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
        <script src="{% static 'global_assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
        <script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
        <script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
      
         {% if request.session.hrms_language == 'ar' %}
        <script src="{% static 'assets/RTL/js/app.js' %}"></script>
        {% else %}

        <script src="{% static 'assets/js/app.js' %}"></script>
        {% endif %}
        <script src="{% static 'global_assets/js/demo_pages/dashboard.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/sparklines.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/lines.js' %}"></script>	
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/areas.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/donuts.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/bars.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/progress.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/pies.js' %}"></script>
        <script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/bullets.js' %}"></script>
        <script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>

        <script src="{% static 'global_assets/js/demo_pages/datatables_api.js' %}"></script>
    
        <!-- /theme JS files -->
        <style>
          thead, tbody {
            font-size: 12px;
          }
        </style>
      </head>

  <body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-xl navbar-dark bg-indigo navbar-static">
      <div class="d-flex flex-1 d-xl-none">
       
        <button type="button" class="navbar-toggler sidebar-mobile-main-toggle">
           <i class="icon-paragraph-justify3"></i>
        </button>
     
      </div>

      <div class="navbar-brand text-center text-xl-center ">
        SWITCH TO GERMAN
       {% comment %} <a href="{% url 'toggle_lang' %}" class="d-inline-block"> {% endcomment %}
          {% comment %} <img
            src="../../../../global_assets/images/logo_light.png"
            class="d-none d-sm-block"
            alt=""
          />
          <img
            src="../../../../global_assets/images/logo_icon_light.png"
            class="d-sm-none"
            alt=""
          /> {% endcomment %}
      {% comment %} <span class="badge badge-success"> {{lang_tags.main_header_language_switcher2}}</span> {% endcomment %}
      <span class="badge badge-success"> 
        SWITCH TO GERMAN
      </span>

        </a>
      </div>

      <div
        class="collapse navbar-collapse order-2 order-xl-1"
        id="navbar-mobile"
      >
        <ul class="navbar-nav">
        
        </ul>

        <ul class="navbar-nav ml-xl-auto">
          {% comment %} <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link" data-toggle="dropdown">
              <i class="icon-people"></i>
              <span class="d-xl-none ml-3">Messages</span>
            </a>

            <div
              class="dropdown-menu dropdown-menu-right dropdown-content wmin-xl-300"
            >
              <div class="dropdown-content-header">
                <span class="font-weight-semibold">Users online</span>
                <a href="#" class="text-body"
                  ><i class="icon-search4 font-size-base"></i
                ></a>
              </div>

              <div class="dropdown-content-body dropdown-scrollable">
                <ul class="media-list">
                  <li class="media">
                    <div class="mr-3">
                      <img
                        src="../../../../global_assets/images/placeholders/placeholder.jpg"
                        width="36"
                        height="36"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <a href="#" class="media-title font-weight-semibold"
                        >Jordana Ansley</a
                      >
                      <span class="d-block text-muted font-size-sm"
                        >Lead web developer</span
                      >
                    </div>
                    <div class="ml-3 align-self-center">
                      <span class="badge badge-mark border-success"></span>
                    </div>
                  </li>

                  <li class="media">
                    <div class="mr-3">
                      <img
                        src="../../../../global_assets/images/placeholders/placeholder.jpg"
                        width="36"
                        height="36"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <a href="#" class="media-title font-weight-semibold"
                        >Will Brason</a
                      >
                      <span class="d-block text-muted font-size-sm"
                        >Marketing manager</span
                      >
                    </div>
                    <div class="ml-3 align-self-center">
                      <span class="badge badge-mark border-danger"></span>
                    </div>
                  </li>

                  <li class="media">
                    <div class="mr-3">
                      <img
                        src="../../../../global_assets/images/placeholders/placeholder.jpg"
                        width="36"
                        height="36"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <a href="#" class="media-title font-weight-semibold"
                        >Hanna Walden</a
                      >
                      <span class="d-block text-muted font-size-sm"
                        >Project manager</span
                      >
                    </div>
                    <div class="ml-3 align-self-center">
                      <span class="badge badge-mark border-success"></span>
                    </div>
                  </li>

                  <li class="media">
                    <div class="mr-3">
                      <img
                        src="../../../../global_assets/images/placeholders/placeholder.jpg"
                        width="36"
                        height="36"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <a href="#" class="media-title font-weight-semibold"
                        >Dori Laperriere</a
                      >
                      <span class="d-block text-muted font-size-sm"
                        >Business developer</span
                      >
                    </div>
                    <div class="ml-3 align-self-center">
                      <span class="badge badge-mark border-warning"></span>
                    </div>
                  </li>

                  <li class="media">
                    <div class="mr-3">
                      <img
                        src="../../../../global_assets/images/placeholders/placeholder.jpg"
                        width="36"
                        height="36"
                        class="rounded-circle"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <a href="#" class="media-title font-weight-semibold"
                        >Vanessa Aurelius</a
                      >
                      <span class="d-block text-muted font-size-sm"
                        >UX expert</span
                      >
                    </div>
                    <div class="ml-3 align-self-center">
                      <span class="badge badge-mark border-secondary"></span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="dropdown-content-footer bg-light">
                <a href="#" class="text-body mr-auto">All users</a>
                <a href="#" class="text-body"><i class="icon-gear"></i></a>
              </div>
            </div>
          </li> {% endcomment %}
        </ul>
      </div>

      <ul
        class="navbar-nav flex-row order-1 order-xl-2 flex-1 flex-xl-0 justify-content-end align-items-center"
      >
        <li class="nav-item nav-item-dropdown-xl dropdown">
          <a
            href="#"
            class="navbar-nav-link navbar-nav-link-toggler"
            data-toggle="dropdown"
          >
            <i class="icon-bubbles4"></i>
            {% comment %} <span class="badge badge-warning badge-pill ml-auto ml-xl-0"
              >2</span
            > {% endcomment %}
          </a>

          <div
            class="dropdown-menu dropdown-menu-right dropdown-content wmin-xl-350"
          >
            <div class="dropdown-content-header">
              <span class="font-weight-semibold">NOTIFICATIONS</span>
              <a href="#" class="text-body"><i class="icon-compose"></i></a>
            </div>

            <div class="dropdown-content-body dropdown-scrollable">
              {% comment %} <ul class="media-list">
                <li class="media">
                  <div class="mr-3 position-relative">
                    <img
                      src="../../../../global_assets/images/placeholders/placeholder.jpg"
                      width="36"
                      height="36"
                      class="rounded-circle"
                      alt=""
                    />
                  </div>

                  <div class="media-body">
                    <div class="media-title">
                      <a href="#">
                        <span class="font-weight-semibold"
                          >James Alexander</span
                        >
                        <span class="text-muted float-right font-size-sm"
                          >04:58</span
                        >
                      </a>
                    </div>

                    <span class="text-muted"
                      >who knows, maybe that would be the best thing for
                      me...</span
                    >
                  </div>
                </li>

                <li class="media">
                  <div class="mr-3 position-relative">
                    <img
                      src="../../../../global_assets/images/placeholders/placeholder.jpg"
                      width="36"
                      height="36"
                      class="rounded-circle"
                      alt=""
                    />
                  </div>

                  <div class="media-body">
                    <div class="media-title">
                      <a href="#">
                        <span class="font-weight-semibold">Margo Baker</span>
                        <span class="text-muted float-right font-size-sm"
                          >12:16</span
                        >
                      </a>
                    </div>

                    <span class="text-muted"
                      >That was something he was unable to do because...</span
                    >
                  </div>
                </li>

                <li class="media">
                  <div class="mr-3">
                    <img
                      src="../../../../global_assets/images/placeholders/placeholder.jpg"
                      width="36"
                      height="36"
                      class="rounded-circle"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <div class="media-title">
                      <a href="#">
                        <span class="font-weight-semibold"
                          >Jeremy Victorino</span
                        >
                        <span class="text-muted float-right font-size-sm"
                          >22:48</span
                        >
                      </a>
                    </div>

                    <span class="text-muted"
                      >But that would be extremely strained and
                      suspicious...</span
                    >
                  </div>
                </li>

                <li class="media">
                  <div class="mr-3">
                    <img
                      src="../../../../global_assets/images/placeholders/placeholder.jpg"
                      width="36"
                      height="36"
                      class="rounded-circle"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <div class="media-title">
                      <a href="#">
                        <span class="font-weight-semibold">Beatrix Diaz</span>
                        <span class="text-muted float-right font-size-sm"
                          >Tue</span
                        >
                      </a>
                    </div>

                    <span class="text-muted"
                      >What a strenuous career it is that I've chosen...</span
                    >
                  </div>
                </li>

                <li class="media">
                  <div class="mr-3">
                    <img
                      src="../../../../global_assets/images/placeholders/placeholder.jpg"
                      width="36"
                      height="36"
                      class="rounded-circle"
                      alt=""
                    />
                  </div>
                  <div class="media-body">
                    <div class="media-title">
                      <a href="#">
                        <span class="font-weight-semibold">Richard Vango</span>
                        <span class="text-muted float-right font-size-sm"
                          >Mon</span
                        >
                      </a>
                    </div>

                    <span class="text-muted"
                      >Other travelling salesmen live a life of luxury...</span
                    >
                  </div>
                </li>
              </ul> {% endcomment %}
            </div>

            <div class="dropdown-content-footer justify-content-center p-0">
              <a
                href="#"
                class="btn btn-light btn-block border-0 rounded-top-0"
                data-popup="tooltip"
                title="Load more"
                ><i class="icon-menu7"></i
              ></a>
            </div>
          </div>
        </li>

        <li class="nav-item nav-item-dropdown-xl dropdown dropdown-user">
          <a
            href="#"
            class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle d-inline-flex align-items-center h-100"
            data-toggle="dropdown"
          >
            {% comment %} <img
              src="../../../../global_assets/images/placeholders/placeholder.jpg"
              class="rounded-pill mr-xl-2"
              height="34"
              alt=""
            /> {% endcomment %}
            <span class="d-none d-xl-inline-block">Hello {{request.user.username}}</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            {% comment %} <a href="#" class="dropdown-item"
              ><i class="icon-user-plus"></i> My profile</a
            >
            <a href="#" class="dropdown-item"
              ><i class="icon-coins"></i> My balance</a
            > 
            <a href="#" class="dropdown-item"
              ><i class="icon-comment-discussion"></i> Messages
              <span class="badge badge-primary badge-pill ml-auto">58</span></a
            >
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"
              ><i class="icon-cog5"></i> Account settings</a
            > {% endcomment %}
            <a href="{% url 'logout' %}" class="dropdown-item"
              ><i class="icon-switch2"></i> Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
    <!-- /main navbar -->

    <!-- Page content -->
    <div class="page-content">
